
.history-container{
    table{
        border-collapse: collapse;
        width: $width;
        margin:0 auto;
        text-align: center;

     
        th{
            padding: 5% 1% 1% 1%;
            background: $cellsColor;
            font-style: italic;  
        }
        td{
            padding-top: 2%;
            background: $cellsColor;
        }
    }
}

td {
    span{
        padding: 3px;
        color: black;
    }
}

p > strong{
    font-style: italic;
}
    
nav{
    margin:2% auto;
    width: $width;
    h2{
        color:$corpColor;
        font-size: 1.9rem;
    }
    .first-line{ 
        background-color: $corpColor; height: 1px; border: 0;
    }
}

@media(max-width:768px){
    .card-info{
        width: $widthResponsive;
    }
    .history-container > table{
        width: 90vw;
    }
    nav{
        width: $widthResponsive;
    }
}




